@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 220 13% 95%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 190 56% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 27.9% 82.9%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 215 27.9% 82.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 328 82% 42%;
    --accent-foreground: 0 0% 100%;
    --destructive: 328 88% 44%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 20.2% 65.1%;
    --input: 215 20.2% 65.1%;
    --ring: 190 56% 47%;
    --chart-1: 76 65% 44%;
    --chart-2: 328 82% 52%;
    --chart-3: 200 82% 52%;
    --chart-4: 39 89% 52%;
    --chart-5: 173 58% 39%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71% 10%;
    --foreground: 173 58% 92%;
    --card: 224 71% 10%;
    --card-foreground: 173 58% 92%;
    --popover: 224 71% 10%;
    --popover-foreground: 173 58% 92%;
    --primary: 190 56% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 173 58% 92%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 328 82% 42%;
    --accent-foreground: 0 0% 100%;
    --destructive: 328 88% 44%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 190 56% 47%;
    --chart-1: 76 65% 44%;
    --chart-2: 328 82% 52%;
    --chart-3: 200 82% 52%;
    --chart-4: 39 89% 52%;
    --chart-5: 173 58% 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
